
<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.Dashboard">Dashboard</MudNavLink>
@*    <MudNavLink Href="/servers" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Storage">Servers</MudNavLink>
*@    <MudNavGroup Title="Settings" Expanded="true" Icon="@Icons.Filled.Settings">
        <MudNavLink Href="/studentsList"  Icon="@Icons.Filled.People"s Match="NavLinkMatch.Prefix">Students</MudNavLink>
        <MudNavLink Href="/countries"  Icon="@Icons.Filled.Map" Match="NavLinkMatch.Prefix">Countries</MudNavLink>
        <MudNavLink Href="/classes"  Icon="@Icons.Filled.Book" Match="NavLinkMatch.Prefix">Classes</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/about" Icon="@Icons.Filled.Info"  Match="NavLinkMatch.Prefix">About</MudNavLink>
</MudNavMenu>




@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StudentsBlazorApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="studentslist">
                <span class="oi oi-plus" aria-hidden="true"></span> List of students
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>
*@
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
